---
import AuthorImage from "src/features/author-image/AuthorImage.astro";
import MusicPlayer from "src/features/music-player/MusicPlayer.astro";
import VisitorNumber from "src/features/visitor-number/VisitorNumber.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="homepage">
  <VisitorNumber />

  <div class="author">
    <AuthorImage />

    <p class="author-intro">hiii nyaa~ ꨄ︎ i'm ember! Or loafy nyaa~! whatever whatever!</p>
    <p>
      i'm a 31 year old gal who makes lofi (sometimes other stuff), codes (c#/typescript/swift), and
      yaps a lot on social media whatever whatever. sometimes i yap on my blog too nyaa!
    </p>
    <p>i also love playing elden ring, pokopia, visual novels, ffxiv (when i get the chance)</p>
    <p>
      i'm a moderate enthusiast of retro/nostalgia and use a heavily windows 7 themed w10 for my
      gaming desktop nyaa. i have an ipod mini (gen 1) that has a lot of 00s stuff on it like
      paramore/a7x/etc
    </p>
    <p>oh sometimes i'm live on twitch/youtube btw whatever whatever~</p>

    <nav class="stream-links" aria-label="Streaming links">
      <a href="https://twitch.tv/loafykitten">[twitch]</a>
      <a href="https://youtube.com/@loafykitten">[youtube]</a>
    </nav>
  </div>

  <p class="music-intro">and for the gentleperson, may i interest you in my lofi perhaps?</p>

  <MusicPlayer audioSrc="/audio/longing.mp3" track="longing" artist="loafymage" />
</BaseLayout>

<style>
  .author {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  .author::after {
    content: "";
    display: block;
    clear: both;
  }

  .author p {
    margin-left: 200px;
    text-align: left;
    font-size: 1.2rem;
    text-align: justify;
  }

  .author-intro {
    margin-top: 0;
  }

  .stream-links {
    padding: 0;
    text-align: center;
  }

  .stream-links a {
    margin: 0 1rem;
    font-size: 1.5rem;
    text-shadow: none;
  }

  .music-intro {
    letter-spacing: 0.03em;
    margin: 2rem auto 0;
  }

  @media (max-width: 700px) {
    .visitor-count {
      margin: 2rem 0;
      line-height: 1.5;
    }

    .author {
      padding: 1rem 0;
    }

    .author p {
      margin-left: 0;
      font-size: 1.15rem;
      text-align: center;
    }

    .stream-links a {
      display: inline-block;
      margin: 0.35rem 0.5rem;
      font-size: 1.2rem;
    }
  }
</style>
