---
import visitorNumberScript from "./visitor-number.ts?url";
---

<h3 class="visitor-count">
you're visitor number
<button class="visitor-number" type="button" aria-label="Show visitor count">
    <img src="/images/broken-image.gif" alt="" aria-hidden="true" />
    &nbsp;
</button>
on this site since Mar 13, XX26
</h3>


<script type="module" src={visitorNumberScript} is:inline></script>

<style>
  .visitor-count {
    margin: 3rem 0;
  }

  .visitor-count img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  .visitor-number {
    cursor: pointer;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    padding: 0;
  }
  </style>